#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION  "Linux (POSIX) subsystem"
#define REACTOS_STR_INTERNAL_NAME     "LXSS"
#define REACTOS_STR_ORIGINAL_FILENAME "LXSS.sys"
#include <reactos/version.rc>
